body {
  background-color: cornsilk;
  margin-left: 16px;
}

h1 {
  color: navy;
  font-family: 'Copse', serif;
/*  margin-left: 5px; */
}

h3 {
  color: navy;
  font-family: 'Copse', serif;
  line-height: 1.0;
  margin-left: 1.5em;
/*  padding-top: 1em; */
}

h5 {
  color: black;
  font-family: 'Arimo', sans-serif;
  font-size: 1.0em;
/*  margin-left: 5px; */
}

p {
  color: black;
  font-family: 'Arimo', sans-serif;
  font-size: 1.1em;
  margin-left: 3.0em;
}

.byeweek {
  font-style: italic;
}

.lastrow {
  padding-bottom: 1.0em;
}

.link {
  border-bottom: 1px solid;
  color: darkred;
  padding-bottom: 1px;
  text-decoration: none;
}

.link:hover {
  color: darkblue;
}

/* Predicted Loss */
.pl {
  color: gray;
  text-decoration: line-through;
}

/* Predicted Win */
.pw {
  font-weight: bold;
}

.timestamp {
  color: lightgray;
  font-size: 0.8em;
  margin-left: 0.0em;
}

p.byeweek {
  font-style: italic;
  padding-bottom: 1.0em;
}
